services:
  web:
    build: .
    container_name: resume-builder
    volumes: 
      - .:/app
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./staticfiles:/app/staticfiles
    ports:
      - "80:80"
    depends_on:
      - web
 
  db:
    image: postgres:latest
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports: 
      - "${DB_PORT}:${DB_PORT}"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_db_resume:/var/lib/posgresql/data
    env_file:
      - .env
volumes:
  postgres_db_resume:
